/* SignUp.css */
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #36129f;
    border-radius: 5px;
  }
  
  .btn {
    
        background-image: linear-gradient(to right, #6f00ff, #d5198d);
        color: white;
        font-weight: bold;
        font-family: serif;
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
  
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .inputcss{
    border: 1px solid #ccc;
       border-radius: 10px;
        padding: 12px;
        font-size: 16px;
         width: 100%;
}

.labelcss{
  background-image: linear-gradient(to right, #6f00ff, #d5198d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-family: serif;
  font-size: 22px;
}
